# Prerequisites
*.d
*.dep

# Object files
*.o
*.ko
*.obj
*.elf
*.lst
*.i
*.order
*.o.*
*.slo
*.symtypes

# Linker output
*.ilk
*.map
*.exp
*.axf
*.lnp
*.iex

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.lai

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Fortran Module Files
*.mod
*.smod

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.img
*.imx

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Generated Config Files
.config
.config.*

#
# Generated Include Files
#
include/config
include/generated
arch/*/include/generated

#
# Package Files
#
*.bz2
*.gcno
*.gz
*.lz4
*.lzma
*.lzo
*.patch
*.tar
*.xz

#
# CMake Files
#
_deps
cmake_install.cmake
compile_commands.json
install_manifest.txt
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
CMakeUserPresets.json
Testing/
build/

#
# Keil MDK-ARM Files
#
*.bak
*.htm
*.log
*.sct
*.scvd
*.uvguix
*.uvguix.*
DebugConfig/
Listings/
Objects/

#
# Doxygen generated document files
#
docs/doxygen

#
# macOS shuts
#
.DS_Store

!.gitignore
!.gitattributes
